<!doctype html>
<html lang="zxx">
    <head></head>
 <body>
 <section id="portfolio_top" class="padding_top padding_bottom">
        <div class="container">
            <div id="portfolio-top" class="cbp cbp-l-grid-work">
                <div class="cbp-item portfolio_border">
                    <img src="/images/events/bootcamp2017.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay_bottom">
                            <h4 class="text-uppercase">Global Azure Bootcamp</h4>
                            <p>22 April 2017</p>
                        </div>
                    </div>
                </div>
                <div class="cbp-item no_shadow top">
                    <div class="text_wrap bg_transparent text-center padding15">
                        <h2 class="bottom10 text-capitalize">Our Events </h2>
                        <p>Some of the events we organized.</p>
                    </div>
                </div>
                <div class="cbp-item portfolio_border">
                    <img src="/images/events/GDBC.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay_bottom">
                            <h4 class="text-uppercase">Global DevOps Bootcamp</h4>
                            <p>17 June 2017</p>
                        </div>
                    </div>
                </div>
                <div class="cbp-item portfolio_border">
                    <img src="/images/events/XDD.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay_bottom">
                            <h4 class="text-uppercase">Xamarin Dev Days</h4>
                            <p>5 August 2017</p>
                        </div>
                    </div>
                </div>
                <div class="cbp-item portfolio_border">
                    <img src="/images/events/missionmars.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay_bottom">
                            <h4 class="text-uppercase">Microsoft Mission Mars</h4>
                            <p>15 June 2017</p>
                        </div>
                    </div>
                </div>
                <div class="cbp-item portfolio_border">
                    <img src="/images/events/MOSWC2014.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay_bottom">
                            <h4 class="text-uppercase">Microsoft Office Specialist</h4>
                            <p>2015</p>
                        </div>
                    </div>
                </div>
                <div class="cbp-item portfolio_border">
                    <img src="/images/events/windows10launch.png" alt="">
                    <div class="overlay">
                        <div class="overlay_bottom">
                            <h4 class="text-uppercase">Windows 10 Launch</h4>
                            <p>2015</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>
    </html>